body {
    background-color: moccasin;
    font-family: Helvetica,sans-serif;
}
h1 {
    position: fixed;
    z-index: -1;
}
.navlist {
    list-style: none;
    margin: 0;
}
.navlist > li {
    margin: 6px;
    margin-right: -8px;
    background-color: whitesmoke;
    -webkit-box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, .4);
    box-shadow: -2px 2px 1px 1px rgba(0, 0, 0, .4);
}
.navlist > li:hover {
    background-color: papayawhip;
}
.navlist > li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px;
}
.menu-item {
    float:right;
    margin: 6px;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
    -webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, .5);
}