<div class="navbar">
    <div class="navbar-inner">
        <a class="brand"  style="margin-left:auto;">ODK Survey</a>
    </div>
</div>
<div class="nav-spacer"></div>
<div class="container">
    <% if(status.error){ %>
    <div class="alert alert-error">
        <strong>Error: </strong><%- status.error %>
    </div>
    <% } %>
    <% if(status.installing){ %>
        <div class="alert alert-info">
            <p>Installing example survey...</p>
        </div>
    <% } %>
    <% if(status.surveysToFetch > 0){ %>
        <div class="alert alert-info">
            <p>Fetching surveys... (<%- status.surveysToFetch %> remaining)</p>
        </div>
    <% } %>

    <span class="label">Sort By:</span>
    <div class="btn-group">
        <button class="btn sort-name">Name</button>
        <button class="btn sort-date">Date</button>
    </div>
    <button class="btn refresh" style="float:right;">Refresh</button>
    <div style="clear:both;height:5px;"></div>
    <% if(surveys.length === 0){ %>
        <p>No entries found</p>
        <a class="install-example btn">Install example survey</a>
    <% } %>

    <ul class="navlist">
    <%
    _.each(surveys, function(survey){ 
    %>
    <li>
        <h2><%- survey.name %></h2>
        <p>
            <strong>Last Modified:</strong><br />
            <%- survey.modificationTime %>
        </p>
        <% if(!survey.converting && !survey.error){ %>
        <a class="btn" href="default/index.html#formPath=<%- window.encodeURIComponent(survey.fullPath) %>/">
            Open
        </a>
        <% } %>
        <% if(survey.converting){ %>
            <div class="alert alert-info">
                <p>Converting xlsx...</p>
            </div>
        <% } %>
        <% if(survey.error){ %>
            <div class="alert alert-error">
                <p><%- survey.error %></p>
            </div>
        <% } %>
    </li>
    <%
    });
    %>
    </ul>

    <% if(!("cordova" in window)){ %>
        <center>
        <a href="chooser/libs/filerjs/demos/filer.html" class="btn">
            Add survey
        </a>
        </center>
    <% } %>
</div>
