<h1>Choose a form:</h1>

<a class="menu-item sort-name">Sort | Name</a>
<a class="menu-item sort-date">Sort | Date</a>
<a class="menu-item refresh">Refresh</a>
<div style="clear:both;"></div>

<ul class="navlist">
<%
_.each(entries, function(entry){ 
    if(entry.isDirectory) {
%>
    <li>
    <a href="default/index.html#formPath=<%- window.encodeURIComponent(entry.fullPath) %>/">
        <h2><%- entry.name %></h2>
        <p>
            <strong>Last Modified:</strong><br />
            <%- entry.metadata.modificationTime %>
        </p>
    </a>
    </li>
<%
    }
});
%>
</ul>